{% extends 'Instaclone/base.html' %}
{% block content %} 
<div class="container-fluid">
    <div class="row " >
        <div class="col-sm-4">
            <img src="{{profile.profile_pic.url}}"  alt="Avatar" style="border-radius: 50%;" width="200px" height="200px">
        </div>
        <div class="col-sm-8">
            <h2 style="font-weight: bold;" >Username: {{profile.username}}</h2>
            <h3 class="text-muted">Name: {{profile.name}}</h4>
            <h4 class="text-muted">Email: {{profile.email}}</h4>
            <h4 class="text-muted">Bio: {{profile.bio}}</h4>
        </div>
    </div><hr>
    <h3>All uploads</h3><br>
    
    {% for image in images %}
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >  
            <div class="card" >
            <img src="{{image.image.url}}"  class="img-responsive" alt="#"  > 
            </div>
        </div>
    {% endfor %}
  
</div>
{% endblock %} 
