{% extends 'Instaclone/base.html' %}
{% block content %} 
<div class="container-fluid">
    <div class="row " >
        <div class="col-sm-4">
            <img src="{{profile.profile_pic.url}}"  alt="Avatar" style="border-radius: 50%;" width="200px" height="200px">
        </div>
        <div class="col-sm-8">
            <h2 style="font-weight: bold;" >Username: {{profile.username}}</h2>
            <h3 class="text-muted">Name: {{profile.name}}</h4>
            <h4 class="text-muted">Email: {{profile.email}}</h4>
            <h4 class="text-muted">Bio: {{profile.bio}}</h4>
        </div>
    </div><hr>
    <h3>All uploads</h3><br>
    
    {% for image in images %}
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >  
        <div class="card" >
        <a id="link" type="button"  data-toggle="modal" data-target="#exampleModalLong{{image.id}}">
        <img src="{{image.image.url}}"  class="img-responsive" alt="#"  > 
        </a>
        </div>
    </div>
    <div class="modal fade bd-example-modal-lg" id="exampleModalLong{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body" style="padding-bottom:30px">
                    <img src="{{image.image.url}}" class="img-responsive" width="100%" height="100px"><br>
                    <div class="card-title" style="font-weight: bold;">likes
                    </div>
                    <h5 class="card-title">{{image.name}}</h5>
                    <p class="card-text"><strong>{{image.username}}</strong></a> {{image.caption}}</p>
                    <small class="text-muted">Comments...</small>
                    {% if not image.comments.all %}
                    <br>
                    <a class="text-muted">No comments yet <a href="{% url 'new-comment' %}">Add comment</a>
                    {% else %}
                        {% for comment in image.comments.all %}
                        <h5 ><strong> {{ comment.username }}</strong> 
                            {{ comment.body}}
                            <br>
                            <h6>  
                                {{ comment.post_on }}
                            </h6>
                        </h5>
                        {% endfor %} 
                        <h6><a href="{% url 'new-comment' %}">Add a comment</a></h6>
                    {% endif %}
                    <hr>
                    <h6 class="card-text text-muted">Posted : {{image.post_on}}</h6>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
  
</div>
{% endblock %} 

