{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container">
  <div class="row" style="padding-top: 40px;">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading">
          <h4 class="text-center" ><span style="font-family: 'Lobster', cursive;font-size: x-large;"> Instagram</span><small> 2.0</small></h4>
        </div>
        <div class="panel-body">
          

          <form  action="/accounts/login/" method="post">
            
            {% csrf_token %}
            {% bootstrap_form form%}
          
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-block" value="Login">
              
            </div>
            
            <input type="hidden" name="next" value="{{next}}">
            {% if not registered %}
            <div>
            Don't have an account? <a href="/accounts/register">Sign up</a>
            </div>
            {% endif %}
          </form>
 
          

        </div>
      

      </div>

    </div>
  </div>
  <div class="row text-center">
		<h4>Get app</h4>
		<br/>
      <p>
        <a href="https://apps.apple.com/us/app/instagram/id389801252" class="btn btn-store btn-sm">
          <span class="fa fa-apple fa-3x pull-left"></span> 
          <span class="btn-label">Download on the</span>
          <span class="btn-caption">App Store</span>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.instagram.android&hl=en&gl=US" class="btn btn-store btn-sm">
          <span class="fa fa-android fa-3x pull-left"></span> 
          <span class="btn-label">Download on the</span>
          <span class="btn-caption">Google Play</span>
        </a>
      </p>
	</div>
</div>

{% endblock %}
