
ul{
    list-style: none;
}

span{
    color: #433e3f;
}


.btn-store {
    min-width: 254px;
    padding: 12px 20px !important;
    border-color: #dddddd !important;
  }
  
  .btn-store:focus, 
  .btn-store:hover {
    color: #ffffff !important;
    background-color: #168eea;
    border-color: #168eea !important;
  }
  
  .btn-store .btn-label, 
  .btn-store .btn-caption {
    display: block;
    text-align: left;
    line-height: 1;
  }
  
  .btn-store .btn-caption {
    font-size: 24px;
  }